<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WINDOWS_FORM_APPLICATION_.NET_FRAMEWORK.Properties.Settings.ClinicConnectionString"
        connectionString="Data Source=ALI-AZIMZADEH;Initial Catalog=Clinic;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--For RFT-230-2R Model-->
    <add key="Port" value="COM5" />
    <add key="BaudRate" value="" />
    <add key="PortName2" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>